[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
dash = "*"
flask-dance = "*"
sqlalchemy = "*"
python-dotenv = "*"
dash-bootstrap-templates = "*"
pandas = "*"
flask-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
